# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift
.build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
.swiftpm/
PIDkill.app/

# User-specific
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserdata
